* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", serif;
  box-sizing: inherit;
  // transition: all 0.2s ease-in-out;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #eee;
  background-color: #222;
  //   background-color: #60b347;
}

header {
  position: relative;
  height: 35hv;
  border-bottom: 5px solid #eee;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  .between {
    font-size: 15px;
    margin-top: 20px;
  }
}

.btn {
  color: #222;
  background-color: #eee;
  padding-block: 20px;
  padding-inline: 30px;
  font-size: 15px;
  border-radius: 5px;
  &:hover {
    background-color: #d0c0c0;
  }
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-block: 30px;
}

.number {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  margin-inline: 42%;
  text-align: center;
  height: auto;
  color: #222;
  background-color: #eee;
  padding-block: 30px;
  padding-inline: 50px;
  font-size: 40px;
}

main {
  display: flex;
  justify-content: space-around;
  margin-block: 100px;
}

.guess {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  color: #eee;
  background: none;
  border: 5px solid #eee;
  width: 230px;
  height: 100px;
  padding-inline: 40px;
  outline: none;
}

.left {
  display: flex;
  flex-direction: column;
  .btn-check {
    width: 170px;
    margin-left: 30px;
    color: #222;
    background-color: #eee;
    padding-block: 20px;
    padding-inline: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    &:hover {
      background-color: #d0c0c0;
    }
  }
}

.message {
  font-size: 20px;
  margin-bottom: 80px;
}

.label-score {
  font-size: 18px;
  margin-block: 20px;
}

.label-highscore {
  font-size: 18px;
  margin-block: 20px;
}
